<h1>Welcome to the home page!</h1>
<br>
This is a blog, so you can write your own text here if you'd like to. You can even just delete this text and leave the navigation links.
<br>
<p>Check out some articles while you're here: <%= link_to 'Article List', articles_path %></p>
<p>Or check out the About page instead: <%= link_to 'About Page', about_path %></p>
